{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="section section-post-header section-login">
        <div class="container container-login">
            <div class="section-login-left">
                <img src="{{ asset('uploads/images/login-picture.jpg') }}" alt="register-img">
            </div>
        </div>
        <div class="container container-login">
            <div class="section-login-right">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1>Connexion</h1>
                    <div class="form-type">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               placeholder="you@gmail.com"
                               autocomplete="email" required autofocus>
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword"
                               autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">

                        <div>
                            <label>
                                <input type="checkbox" name="_remember_me"> Rester connecté
                            </label>
                        </div>

                        <button class="btn btn-lg btn-primary" type="submit">
                            Se connecter
                        </button>
                        <a href="{{ path('app_forgot_password_request') }}">Mot de passé oublié ?</a>
                    </div>
                    <div class="register-content">
                        <h2>Pas encore inscrit ?</h2>
                        <a href="{{ path('app_register') }}" class="btn btn-primary">S'inscrire</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
