<header id="main-header">
    <div class="container-header">
        <nav class="container-header-left">
            <ul>
                <li>
                    <a href="{{ path('home') }}">
                        <i class="fa fa-info-circle"></i>
                        <span>Conseils & Astuces</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_trick_index') }}">
                        <i class="fa fa-heartbeat"></i>
                        <span>Tricks</span>
                    </a>
                </li>
                {% if app.user %}
                    <li>
                        <a href="{{ path('app_trick_new') }}">
                            <i class="fa fa-plus"></i>
                            <span>Créer un trick</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
            <div class="title-welcome">
                <small>Bienvenue sur Snow Tricks
                    {% if app.user %}
                        {{ app.user.firstName }}
                    {% endif %} </small>
            </div>
        </nav>

        <div class="container-header-middle">
            <div class="container-logo">
                <a href="{{ path('home') }}">
                    <img src="{{ asset('uploads/images/logo-snow-tricks.png') }}" alt="logo-snow-tricks">
                </a>
            </div>
        </div>

        <nav class="container-header-right">
            <ul>
                <li>
                    <a href="{{ path('home') }}">
                        <i class="fa fa-id-card-o"></i>
                        <span>Découvrir Snow Tricks</span>
                    </a>
                </li>
                {% if app.user %}
                    <li>
                        <a href="{{ path('app_logout') }}">
                            <i class="fa fa-user-times"></i>
                            <span>Se déconnecter</span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('app_register') }}">
                            <i class="fa fa-user-plus"></i>
                            <span>S'inscrire</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_login') }}">
                            <i class="fa fa-user"></i>
                            <span>Se connecter</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
