<header id="main-header">
    <div class="container-header">
        <nav class="container-header-left">
            <ul>
                <li>
                    <a href="{{ path('home') }}">
                        <i class="fa fa-info-circle"></i>
                        Conseils & Astuces
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_trick_index') }}">
                        <i class="fa fa-heartbeat"></i>
                        Tricks
                    </a>
                </li>
                {% if app.user %}
                    <li>
                        <a href="{{ path('app_trick_new') }}">
                            <i class="fa fa-plus"></i>
                            Créer un trick
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <div class="container-header-middle">
            <div class="container-logo">
                <a href="{{ path('home') }}">
                    <img src="{{ asset('uploads/images/logo-snow-tricks.png') }}" alt="logo-snow-tricks">
                </a>
            </div>
        </div>

        <nav class="container-header-right">
            <ul>
                <li>
                    <a href="{{ path('home') }}">
                        <i class="fa fa-id-card-o"></i>
                        Découvrir Snow Tricks
                    </a>
                </li>
                {% if app.user %}
                    <li>
                        <a href="{{ path('app_logout') }}">
                            <i class="fa fa-user-times"></i>
                            Se déconnecter
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('home') }}">
                            <i class="fa fa-user-plus"></i>
                            S'inscrire
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_login') }}">
                            <i class="fa fa-user"></i>
                            Se connecter
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>