{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <main>

        <section class="section section-post-header section-home"
                 style="background-image: url('{{ asset('uploads/images/home-image-bg.jpg') }}')">
            <div class="section-home-content">
                <div class="section-home-left">
                    <a href="{{ path('home') }}">
                        <div class="btn btn-primary">
                            Découvrir nos tricks
                        </div>
                    </a>
                </div>
                <div class="section-home-right">
                    <h1>Born to Snowboarding</h1>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="category-title">
                    <h2>Naviguer parmi les catégories</h2>
                </div>
                {% for category in categories %}
                <div class="category-list">
                    <article class="card">
                        <div class="card-img-container">
                            <img src="/uploads/images/{{ category.picture }}" alt="{{ category.name }}">
                        </div>

                        <div class="card-content">
                            <h3>{{ category.name }}</h3>
                            <a class="btn btn-primary" href="{{ path('home') }}">
                                <div>
                                    Consulter
                                </div>
                            </a>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
