{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <section class="section section-post-header section-home">
        <div class="section-home-content">
            <div class="section-home-left">
                <a href="{{ path('app_trick_index') }}">
                    <div class="btn btn-primary">
                        Découvrir nos tricks
                    </div>
                </a>
            </div>
            <div class="section-home-right">
                <h1>Born to Snowboarding</h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="category-title">
                <h2>Naviguer parmi les catégories</h2>
            </div>
            <div class="category-list">
                {% for category in categories %}
                    <article class="card">
                        <div class="card-img-container">
                            <img src="/uploads/images/{{ category.picture }}" alt="{{ category.name }}">
                        </div>

                        <div class="card-content">
                            <h3>{{ category.name }}</h3>
                            <a class="btn btn-primary" href="{{ path('app_category_show', {'id': category.id}) }}">
                                <div>
                                    Consulter
                                </div>
                            </a>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
