{% extends 'admin/base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

    <div class="section">
        <h1>Administration des tricks</h1>

        <table class="admin-trick-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Catégorie</th>
                <th>Description</th>
                <th>MainPicture</th>
                <th>Consulter</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for trick in tricks %}
                <tr>
                    <td>{{ trick.id }}</td>
                    <td>{{ trick.name }}</td>
                    <td>{{ trick.category }}</td>
                    <td>{{ trick.description }}</td>
                    <td>{{ trick.mainPicture }}</td>
                    <td><a target="_blank" class="btn btn-primary"
                           href="{{ path('app_trick_show', {'slug': trick.slug}) }}">Voir</a></td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('app_admin_trick_accept', {'id': trick.id}) }}">Accepter</a>

                        <form method="post"
                              action="{{ path('app_admin_trick_refuse', {'id': trick.id}) }}"
                              onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');">
                            <input type="hidden" name="_token"
                                   value="{{ csrf_token('delete' ~ trick.id) }}">
                            <button class="btn btn-tertiary">Refuser</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>Aucun trick à valider</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}