{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}


    <section class="section section-post-header">

        {{ render(controller('App\\Controller\\TrickController::buttonCreateTrick')) }}

        {% for category in categories %}
            <div class="trick-title">
                <a href="{{ path('app_category_show', {'id': category.id}) }}">
                    <h2>{{ category.name }}</h2>
                </a>
            </div>
            <div class="trick-list">
                {% if category.tricks is empty %}
                    <p>Aucun trick pour cette catégorie</p>
                {% else %}
                    {% for trick in tricks %}
                        {% if trick.category.id == category.id %}
                            <article class="card">
                                <div class="card-img-container">
                                    <img src="/uploads/images/{{ trick.mainPicture }}" alt="{{ trick.name }}">
                                </div>

                                <div class="card-content">
                                    <a href="{{ path('app_trick_show', {'id': trick.id}) }}">
                                        <h3>{{ trick.name }}</h3>
                                    </a>
                                    <p>{{ trick.description }}</p>
                                    <p>Créée par {{ trick.userCreator.firstname }} {{ trick.userCreator.lastname }} </p>
                                    <a class="btn btn-primary" href="{{ path('app_trick_show', {'id': trick.id}) }}">
                                        <div>
                                            Détail & Discussion
                                        </div>
                                    </a>
                                    {% if app.user and app.user.id == trick.userCreator.id or is_granted('ROLE_ADMIN') %}
                                        <div class="button-action">
                                            <a href="{{ path('app_trick_edit', {'id': trick.id}) }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="{{ path('app_trick_delete', {'id': trick.id}) }}">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </article>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        {{ render(controller('App\\Controller\\TrickController::buttonCreateTrick')) }}

    </section>

{% endblock %}
