{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    <section class="section section-post-header">
        {% if trick.valid == false %}
        <h2>
            Attention, cette page n'est visible que par un administrateur, pour la publier sur le site, merci de la valider depuis l'espace Admin
        </h2>
        {% endif %}
        <div class="btn-group">
            {% if app.user and app.user.id == trick.userCreator.id or is_granted('ROLE_ADMIN') %}
                <div class="button-action">
                    <a href="{{ path('app_trick_edit', {'id': trick.id}) }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <form method="post"
                          action="{{ path('app_trick_delete', {'id': trick.id}) }}"
                          onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete' ~ trick.id) }}">
                        <button class="fa fa-trash-o"></button>
                    </form>
                </div>
                <a class="btn btn-secondary" href="{{ path('app_trick_index') }}">Retour aux tricks</a>
            {% endif %}
        </div>

        <section class="section-trick">
            <div class="section-trick-left">
                <img src="{{ asset('uploads/images/') ~ trick.mainPicture }}" alt="{{ trick.name }}">
            </div>

            <div class="section-trick-right">
                <h1>{{ trick.name }}</h1>
                <h5>Catégorie : {{ trick.category }}</h5>
                <p>{{ trick.description }}</p>
            </div>
        </section>

        {% if trick.media %}
            <section class="section-media">
                {% for media in trick.media %}
                    {% if media.type == "Image" %}
                        <div class="media-display">
                            <img src="{{ asset('uploads/media/') ~ media.uploadedPath }}"
                                 alt="{{ media.title }}">
                        </div>
                    {% endif %}
                    {% if media.type == "Vidéo téléchargée" %}
                        <div class="media-display">
                            <video controls width="560">
                                <source src="{{ asset('uploads/media/') ~ media.uploadedPath }}">
                                Votre vidéo ne s'affiche pas, consulter le lien
                            </video>
                        </div>
                    {% endif %}
                    {% if media.streamedPath %}
                        <div class="media-display">
                            <iframe width="560" height="315" src="{{ media.srcVideo }}" title="{{ media.title }}"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>Votre vidéo ne s'affiche pas, consulter le lien
                            </iframe>
                        </div>
                    {% endif %}
                {% endfor %}
            </section>
        {% endif %}

        <section class="section section-post-header">
            <div class="container">
                <h1 class="title">Fil de discussion</h1>
                {% if app.user %}
                    {{ include('message/_form.html.twig') }}
                {% endif %}
                <article class="message-list">
                    {{ knp_pagination_render(messages) }}
                    {% for message in messages %}
                        <div class="message-block">
                            <div class="message-author">
                                <img src="/uploads/images/{{ message.userAuthor.profilePicture }}" alt="Author Picture">
                                <h5>{{ message.userAuthor }}</h5>
                            </div>
                            <div class="message-content">
                                <h5>Posté le {{ message.createdAt|date('d/m/Y') }}
                                    à {{ message.createdAt|date('H:i') }}</h5>
                                <p>{{ message.body }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    {{ knp_pagination_render(messages) }}
                </article>
            </div>
        </section>
    </section>
{% endblock %}
